body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.header {
    background-color: #F3F3F3;
    display: flex;
    align-items:baseline;
    padding: 0.5rem;
    gap: 1rem;
}

.link {
    background: none;
    border:none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}


.dropdown.active > .link:focus,
.link:hover {
    color: #000;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.dropdown-menu.active {
    opacity: 1;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-heading {
    padding: 0 0 0.25rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem
}

.login-form {
    font-family: inherit;
    font-size: inherit;
}

.login-form > input, button {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-size: inherit;
}