body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

h1.logo {
    margin: 0 0.5rem;
    padding: 0.25rem;
    color: #000;
    font-weight: normal;
}

.header {
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    gap: 1rem;
}

.link {
    background: none;
    border:none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0 2px;
    align-items: baseline;
}



.dropdown.active > .link:focus,
.link:hover {
    color: #000;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.dropdown-menu.active {
    opacity: 1;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-heading {
    margin: 0 0 0.3rem 0;
    padding: 0 0 0.1rem 0;
    border-bottom: solid 1px #ccc;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: top;
}

.login-form {
    font-family: inherit;
    font-size: inherit;
}

.login-form > input, button {
    margin-bottom: 0;
    font-family: inherit;
    font-size: inherit;
}

img.small-icon {
    width: 0.75rem;
    padding: 0 0.25rem;
    margin: 0;
    display: inline;
}