/* Stylesheet */

body
{
    font: 12pt monospace;
    background-color: #fff;
}

body > h1
{
    font: 20pt monospace;
    font-weight: bold;
    color: #fff;
}


div.main-content
{
    padding: 1rem;
}

hr.banner
{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 12px;
    border-color: #ccc;
    width: 10%;
}

div.banner
{
    text-align: center;
}

