/*--- Tag styles ---*/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    color: #40514E;
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-size: 5.625rem;
    line-height: 1;
}

h2{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    margin: 0 auto;
    color: #11999E;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;

}

.footer-link
{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
    margin: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover
{
    color: #eaf6f6;
}

p {
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 2;
}

.copyright {
    margin: 0px auto 0px auto;
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    padding: 10px 0;

}

hr
{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 8px;
    border-color: #EAF6F6;
    width: 5%;
    margin: 60px auto;
}

/*--- Class Styles ---*/
.top-container {
    /*background-color: #006E7F;*/
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 40px 0;

}

.bottom-container {
    padding: 20px 0 0;
    background-color: #66BFBF;
    margin: 0 auto 0 auto;


}

.skills {

}

.profile {
    width: 30%;
    margin: 0 auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    vertical-align: middle;
}

.computer-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.stu-image
{
    width: 20%;
    border-radius: 50%;
}

.contact-text {
    clear:both;
    margin: 20px auto 40px;
}

.get-in-touch {
    margin: 20px 0;
}
/*.computer-skill-description {
    clear: left;
}

.chilli-skill-description {
    clear: right;
}*/

.btn {
    background: #11cdd4;

    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.0rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/*--- ID styles ---*/
