/*--- Tag styles ---*/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

p {
    margin: 0;
}

/*--- Class Styles ---*/
.top-container {
    background-color: #006E7F;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}


/*--- ID styles ---*/
