/*--- Tag styles ---*/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    color: #40514E;
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-size: 5.625rem;
    line-height: 1;
}

h2 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

p {
    margin: 0;
}

hr
{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 8px;
    border-color: #EAF6F6;
    width: 10%;
    margin: 60px auto;
}

/*--- Class Styles ---*/
.top-container {
    /*background-color: #006E7F;*/
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {
    padding-top: 60px;


}

.skills {

}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.computer-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}


.contact-text {
    clear:both;
    margin: 30px auto;
}

/*.computer-skill-description {
    clear: left;
}

.chilli-skill-description {
    clear: right;
}*/

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/*--- ID styles ---*/
